/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/
body {
  /*font-family: 'Open Sans', sans-serif !important;*/

}
.field-heading {
  font-size: 1.2rem;
}
.dropdown-items {
  font-weight: 300;
}
.navbar-toggler {
  border-color: rgba(255,255,255,0.6) !important;
}
.navbar-brand {
  font-size: 1.4rem;
}

.btn-secondary:hover {
  outline-color: #6c757d;
  background-color: #fff;
  color: #6c757d;
}

.btn-info:hover {
  outline-color: #17a2b8;
  background-color: #fff;
  color: #17a2b8;
}

.btn-secondary-fixed {
  width: 230px;
}

a:hover {
  text-decoration: none;
}

.btn-xl {
  font-size: 1.75rem;
}

#code-output {
  color: #f3034b;
  font-family: 'Source Code Pro', monospace !important;
  font-weight: 500;
}

.font-medium {
  font-weight: 200 !important;
}

.heading-wrapper {
  background-image: url('./images/computer-bg.jpg');
}

.light-overlay {
  background-color: rgba(240,245,255,0.9);
}

/*Animation Classes*/

.fade-in-1 {
  opacity: 1.0;
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 2.5s;
}

.fade-in-2 {
  opacity: 1.0;
  animation: fadeIn ease 2.0s;
  -webkit-animation: fadeIn ease 3.5s;
}

.fade-in-3 {
  opacity: 1.0;
  animation: fadeIn ease 3.5s;
  -webkit-animation: fadeIn ease 4.5s;
}

.fade-in-4 {
  opacity: 1.0;
  animation: fadeIn ease 5.0s;
  -webkit-animation: fadeIn ease 5.5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media screen and (max-width: 338px) {
  .navbar-brand {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .navbar-toggler {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
